$primary: #202020;
$primary_trans: rgba(33, 33, 33, 0.98);
$primary_white: #313131;
$primary_light: rgba(255, 255, 255, 0.08);
$primary_dark: #181818;

$light_hover: #383838;
// BTN
$btn_bg1: rgba(255, 255, 255, 0.1);
$btn_hover1: rgba(255, 255, 255, 0.2);
// TEXT
$text_primary: #fff;
$text_primary_second: #aaa;

$border_white: rgba(255, 255, 255, 0.1);

// size element
$header_height: 60px;
$sidebar_width: 250px;

// border
$border_input: 1px solid $border_white;

// border radius
$br_link: 20px;

// transition
$trans_02: 0.2s;
$trans_04: 0.4s ease-in-out;
